<h1> Football App! </h1>
<div ng-repeat="player in PlayerIndexViewModel.players">
  <a data-ui-sref="playerShow({id:player._id})"><p>{{player.name}}</p></a>
    <div ng-repeat="team in player.team">
      <p> {{team.name}} </p>
    </div>
</div>

<form>
  <input placeholder="Name" data-ng-model="PlayerIndexViewModel.player.name">
  <input placeholder="Team Name" data-ng-model="PlayerIndexViewModel.player.team[0].name">
  <button type="button" data-ng-click="PlayerIndexViewModel.create()">Create</button>
</form>
