<h1> {{PlayerShowViewModel.player.name}} </h1>
  <div ng-repeat="team in PlayerShowViewModel.player.team">
    <p> {{team.name}}</p>
  </div>

<form>
  <input placeholder="Name" data-ng-model="PlayerShowViewModel.player.name">
  <input placeholder="Team Name" data-ng-model="PlayerShowViewModel.player.team[0].name">
  <button type="button" data-ng-click="PlayerShowViewModel.update()">Update</button>
  <button type="button" data-ng-click="PlayerShowViewModel.destroy()">Delete</button>
</form>

<form>
  <input value= "Add Team" ng-model="PlayerShowViewModel.team.name">
  <button type="button" data-ng-click="PlayerShowViewModel.addTeam()">Add Team</button>
</form>
